#header{
    background-color: aquamarine;
    width: 980px;
    height: 140px;
}
#meio{
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sidebar{
    background-color: aquamarine;
    width: 270px;
    height: 450px;
    margin-right: 20px;
}

#content{
    background-color: aquamarine;
    width: 690px;
    height: 450px;
}

#footer{
    background-color: aquamarine;
    width: 980px;
    height: 70px;
}
h1{
    color: white;
}